body{
    background-color:cornsilk ;
    border: black 5px solid;
    background-image:  url('../imagens/degrade.jpg');
background-repeat: no-repeat;
background-size:cover;
}
h1{
    font-family: Arial;
    color: blue;
  margin-left: 500px;
  margin-right: 50%;
  width: 400px; 
  font-style: normal;
  border-bottom: black solid 2px;

}
.pa{
    font-family: Arial;
    margin-right: 50%;
    margin-left: 500px;
    width: 300px;
    }

    .L1{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 50%;
   
  }
  .L2{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L3{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  
  }
  .L4{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L5{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L6{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L7{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L8{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L9{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  
  .L10{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L11{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L12{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L13{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L14{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L15{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L16{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }
  .L17{
      font-family: Arial;
      font-style: normal;
      color: black;
      margin-right: 60%;
  }